// VARIABLES.

// Website global parameters.
$website-width: 1920px;

// Colors.
$dark-color: black;
$light-color: rgb(221, 221, 221);
$main-color: gold;
$medium-color: rgb(190, 190, 190);

// Images.
$bg-image: url('../img/bg_image.jpg');
